# API Backend
NEXT_PUBLIC_API_URL=http://localhost:3001/api

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret-key-here

# Cloudinary (pour les vidéos)
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your-cloud-name
