# Dependencies
node_modules/
.pnp
.pnp.js

# Build
frontend/.next/
frontend/out/
backend/dist/

# Database local
backend/prisma/dev.db
backend/prisma/dev.db-journal
backend/prisma/migrations/

# Env files
.env
.env.local
.env.production

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Debug
npm-debug.log*
yarn-error.log*

# Cache
D:\tmp/
D:\npm-cache/
